<!DOCTYPE html>
<html>
<head>
  <title>Railsenginetest</title>
  <%= stylesheet_link_tag    "railsenginetest/application", media: "all" %>
  <%= javascript_include_tag "railsenginetest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
